.cardWrapper {
  background: linear-gradient(70deg, #0d131b, #040408);
  /* background-color: #0d131b; */
  min-height: 30%;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  margin-bottom: 10px;
}

.userInfos {
  display: flex;
  width: 95%;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.tweet {
  width: 90%;
}
