.card {
  background: linear-gradient(70deg, #0d131b, #040408);
  /* background-color: #0d131b; */
  min-height: 150px;
  padding: 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tweetWrapper {
  width: 80%;
}

.userInfos {
  display: flex;
  width: 95%;
  align-items: center;
}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.tweet {
  width: 90%;
}

.iconsWrapper {
  min-height: 100px;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
